PORT=3000
MONGODB_URI=mongodb+srv://alpha:camp@cluster0.3bgfox2.mongodb.net/?retryWrites=true&w=majority
FACEBOOK_ID=SKIP
FACEBOOK_SECRET=SKIP
FACEBOOK_CALLBACK=http://localhost:3000/auth/facebook/callback
SESSION_SECRET=ThisIsMySecret
